.wGrid {
  margin: 10px 0px;
  //padding: 10px;
  //margin-bottom: 10px;
  //.row {
  //  margin: 0px;
  //}
  p {
    margin-bottom: 0px;
  }
}
.oe_image {
  img {
    width: 100%;
  }
  i {
    display: none;
  }
}
.o_button_icon {
  margin-right: 5px;
}
